.smallProfile {
    display: none !important;
  }

  @media (max-width: 500px) {
    .smallProfile {
      display: block !important;
    }
  }

@media screen and (max-width:1400px) {
  .logo h1 {
    font-size: 30px;
  }
}

@media screen and (max-width:1400px) {
  .logo h1 {
    font-size: 20px;
  }
}